<div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-card>
      <mat-card-content>
        <div>
          Open Bank</div>
        <form>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-form-field color="primary" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="username" [required]="true">

            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="password" [required]="true">

            </mat-form-field>
          </div><button mat-raised-button routerLink="/accounts" color="primary" (click)="accounts">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>